.App {
  display: flex;
  padding: 4rem;
  min-height: 100vh;
  background-color: #fff;
  margin: 6rem;
  border-radius: 16px;
  flex-direction: column;
}
h2 {
  margin-bottom: 24px;
}
.Nav {
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-between;
}
.Card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 992px) {
  .App {
    padding: 3rem;
  }
  .Card__container {
    grid-template-columns: 1fr 1fr;
  }
  .Nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .App {
    margin: 1rem;
    padding: 2rem;
  }
  .Card__container {
    grid-template-columns: 1fr;
  }
}
